<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essays</title>
</head>
<body>
    <form method="POST" action="/essays">
        <label for="essay_text">Essay Text:</label>
        <input type="text" id="essay_text" name="essay_text" placeholder="Enter your essay" required>
        <button type="submit">Submit Essay</button>
    </form>
    <a href="/home"><button>Home</button></a>
    <style> 
      body {background-color: #FFFDD0;}









    </style>
</body>
</html>
