<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <label for="email">email :</label>
        <input type="text" id="email" name="email" placeholder="email" required>
        <label for="password">password :</label>
        <input type="text" id="password" name="password" placeholder="password" required>
        <button type="submit">sign in:</button>
        <a href = "/signup"> dont have an account? </a>
    </form>
    <style> 
      body {background-color: #FFFDD0;}









    </style>
</body>
</html>